.nav-link:hover {
  color: #ff648a;
}

.search-btn {
  color: black;
  background-color: transparent;
}

section {
  overflow: hidden !important;
}

.container-box {
  background: white;
  border-radius: 10px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container-box h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.container-box form .form-row {
  display: flex;
}

.container-box form .form-row .field {
  width: 100%;
  position: relative;
  margin: 0 30px 30px 0;
}

.container-box form .form-row .field input {
  background-color: transparent;
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 16px;
}

.container-box form .form-row .message input {
  height: 60px;
}

.container-box form .form-row .field input:focus {
  border-color: #390099;
}

.container-box form .form-row .field label {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  font-size: 16px;
  transition: 0.3s;
}

.container-box form .form-row .field input:focus ~ label,
.container-box form .form-row .field input:valid ~ label {
  transform: translateY(-23px);
  color: #390099;
}

.container-box form input[type="submit"] {
  padding: 7px 20px;
  outline: none;
  border-radius: 5px;
  background: #864dc5;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 20px;
}

footer li:hover {
  cursor: pointer;
  color: #ff648a;
  transform: translate(5px, 0);
}

.section3 {
  overflow: hidden;
}

iframe {
  width: 100vw;
  height: 100%;
}

.section1 {
  background-color: rgba(138, 43, 226, 0.4);
}

.hero-img {
  background-image: url("../img/bg_img/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  /* Extra small devices  */
  .section1 {
    height: 20rem;
    display: flex;
    align-items: center;
  }

  .section1 .container {
    display: flex;
    justify-content: center;
  }

  /* contact page section2 */
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33rem;
  }

  .section2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2 h6 {
    font-size: 1rem;
  }

  .section2 h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 350;
  }

  .section2 p {
    font-size: 12px;
  }

  .section2 img {
    width: 20rem;
  }

  /* contact page section3 */
  .section3 {
    height: 45rem !important;
  }

  .section3 .container .row1 .card-text {
    padding-bottom: 5rem !important;
  }

  /* contact page footer  */
  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
  }

  footer .container {
    display: grid;
    grid-template-columns: 150px 70px;
    justify-content: space-around;
    grid-row-gap: 1rem;
  }

  footer .content {
    grid-column: 1;
    grid-row: 1;
  }

  footer .services {
    grid-column: 2;
    grid-row: 1;
  }

  footer .community {
    grid-column: 1;
    grid-row: 2;
  }

  footer .links {
    grid-column: 2;
    grid-row: 2;
  }

  footer .container img {
    width: 3.5rem;
  }

  footer .container p {
    text-align: start !important;
    font-size: 0.6rem;
  }

  footer ul li {
    font-size: 0.6rem;
  }

  footer ul h5 {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* sm small devices */
  .section1 {
    height: 20rem;
    display: flex;
    align-items: center;
  }

  .section1 .container {
    display: flex;
    justify-content: center;
  }

  /* contact page section2 */
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;
  }

  .section2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2 h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 2.8rem;
    font-weight: 350;
  }

  .section2 img {
    width: 25rem;
  }

  /* contact page section3 */
  .section3 {
    height: 40rem !important;
  }

  .section3 .container .row1 .card-text {
    padding-bottom: 2.5rem !important;
  }

  /* contact page footer */
  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
  }

  footer .container {
    display: grid;
    grid-template-columns: 180px 130px 130px 100px;
    justify-content: space-around;
  }

  footer .container p {
    font-size: 0.6rem;
  }

  footer ul li {
    font-size: 0.6rem;
  }

  footer ul h5 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* md Medium devices */
  .section1 {
    height: 20rem;
    display: flex;
    align-items: center;
  }

  .section1 .container {
    display: flex;
    justify-content: center;
  }

  /* contact page section2 */
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;
  }

  .section2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2 h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 350;
  }

  .section2 img {
    width: 25rem;
  }

  /* contact page section3 */
  .section3 {
    height: 45rem !important;
  }

  .section3 .container {
    display: flex;
    align-items: center;
    width: 60%;
  }

  .section3 .container .row1 .col2 {
    margin-top: 50px;
  }

  .section3 .container .row1 .card-text {
    padding-bottom: 1rem !important;
  }

  /* services page footer */
  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
  }

  footer .container {
    display: grid;
    grid-template-columns: 200px 100px 100px 100px;
    justify-content: space-around;
  }

  footer .container p {
    font-size: 0.8rem;
  }

  footer ul li {
    font-size: 0.8rem;
  }

  footer ul h5 {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* lg Large devices */
  .section1 {
    height: 20rem;
    display: flex;
    align-items: center;
  }

  .section1 .container {
    display: flex;
    justify-content: center;
  }

  /* contact page section2 */
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;
  }

  .section2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2 h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 350;
  }

  .section2 img {
    width: 30rem;
  }

  /* contact page section3 */
  .section3 {
    height: 30rem !important;
  }

  .section3 .container .row1 {
    display: flex;
    justify-content: space-around;
  }

  /* contact page footer */
  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
  }

  footer .container {
    display: grid;
    grid-template-columns: 300px 200px 200px 100px;
    justify-content: space-around;
  }

  footer .container p {
    font-size: 0.9rem;
  }

  footer ul li {
    font-size: 0.9rem;
  }

  footer ul h5 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  /* xl Extra large devices */
  .section1 {
    height: 20rem;
    display: flex;
    align-items: center;
  }

  .section1 .container {
    display: flex;
    justify-content: center;
  }

  /* contact page section2 */
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;
  }

  .section2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2 h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 350;
  }

  .section2 img {
    width: 30rem;
  }

  /* contact page section3 */
  .section3 {
    height: 35rem !important;
  }

  .section3 .container .row1 {
    display: flex;
    justify-content: space-around;
  }

  /* contact page footer */
  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
  }

  footer .container {
    display: grid;
    grid-template-columns: 300px 200px 200px 160px;
    justify-content: space-around;
  }

  footer .container p {
    font-size: 0.9rem;
  }

  footer ul li {
    font-size: 0.9rem;
  }

  footer ul h5 {
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  /* xxl Extra extra large devices */
  .section1 {
    height: 20rem;
    display: flex;
    align-items: center;
  }

  .section1 .container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  /* contact page section2 */
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;
  }

  .section2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2 h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 350;
  }

  .section2 img {
    width: 30rem;
  }

  /* contact page section3 */
  .section3 {
    height: 35rem !important;
  }

  .section3 .container .row1 {
    display: flex;
    justify-content: space-around;
  }

  /* contact page footer */
  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
  }

  footer .container {
    display: grid;
    grid-template-columns: 300px 200px 200px 160px;
    justify-content: space-around;
  }
}
